body {
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
/*     to get the items on top of each other then you have to change the flex */
    flex-direction: column
}
